<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Clubhouse invite bypasser</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>
        <div>
            <h2>{{ bol }}</h2>
        </div>

        <p style="position: fixed; bottom: 0; right: 1">
            <a href="mailto:iamsahilahluwalia@gmail.com">Contact me</a>
        </p>
    </header>
</body>

</html>